# إطار العمل الأساسي
streamlit

# معالجة البيانات
pandas
numpy

# مستندات Word
python-docx
docxtpl

# ملفات Excel
openpyxl

# قواعد البيانات (مدمج مع Python)
# sqlite3

# مكتبات إضافية
pillow
python-dateutil